#admin-side-menu {
    position: fixed;
    left: -200px;
    top: 4rem;
    bottom: 0;
    height: 100vh;
    widows: 200px;
    background-color: white;
    overflow-y: scroll;
    transition: left 0.3s ease-in-out;
    &.is-active {
        transition: left 0.3s ease-in-out;
        left: 0;
    }

    @include desktop {
        left: 0;
    }

    .menu {
        .menu-list {
            li {
                &.side-menu-item {
                    &>a.is-clk:active {
                        color: #0AB2A1;
                        background-color: transparent;
                    }
                }
            }
            
            .side-menu-item {
                .is-active{
                    background-color: #0AB2A1;
                    color: white;
                }
            }
            
        }
    }
}

#admin-slideout-button {
    transition: 0.3s;
    &.is-active {
        transition: 0.3s;
        transform: rotateY(180deg);
    }
}

.management-area {
    position: absolute;
    top: 4rem;
    left: 200px;
    right: 0;
}

.flex-container {
    margin: 10px 25px;
    &>hr {
        background-color: #0AB2A1;
    }
}

.pagination-wrapper {
    .pagination {
        &>a {
            color: #0AB2A1;
            background-color: transparent;
        }
        .pagination-list {
                li {
                    &>a.pagination-link {
                    background-color: #0AB2A1;
                }
            }
        }
    }
}

.submenu{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list li ul{
    margin-top: 0;
    margin-bottom: 0;
}
.menu-list a.is-active{
    background-color: #0AB2A1;
}

.navbar-burger {
    border: none;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}
.title.is-admin {
  font-weight: 300;
}
 .widget-area {
  min-height: 75px;
  padding: 10px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
   &.author-widget {
    .selected-author {
      display: flex;
      align-content: flex-start;
      img {
        border-radius: 25px;
      }
      .author {
        margin: auto 0 auto 10px;
        .subtitle {
          font-weight: 300;
          font-size: 0.8em;
        }
      }
    }
  }
   &.post-status-widget {
    .status {
      display: flex;
      align-content: flex-start;
      .status-icon {
        min-width: 50px;
        .icon {
          width: 100%;
          i {
            text-align: center;
          }
        }
      }
      .status-details {
        margin-left: 10px;
        h4 {
          font-weight: 400;
          span.status-emphasis {
            font-weight: 800;
          }
        }
        p {
          font-weight: 300;
          font-size: 0.8em;
        }
      }
    }
  }
  &.publish-buttons-widget {
    display: flex;
    min-height: 50px;
     .primary-action-button, .secondary-action-button {
      flex: 1;
      margin: 0 5px;
    }
  }
}