.side-menu {
    position: fixed;
    height: 100vh;
    widows: 200px;
    background-color: white;
    overflow-y: scroll;

    .menu {
        .menu-list {
            li {
                &.side-menu-item {
                    &>a:hover {
                        color: #0AB2A1;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.management-area {
    position: absolute;
    top: 4rem;
    left: 200px;
    right: 0;
}

.flex-container {
    margin: 10px 25px;
}

.pagination-wrapper {
    .pagination {
        &>a {
            color: #0AB2A1;
            background-color: transparent;
        }
        .pagination-list {
                li {
                    &>a.pagination-link {
                    background-color: #0AB2A1;
                }
            }
        }
    }
}